@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../font/IBMPlexSansArabic-ExtraLight.woff2') format('woff2'),
        url('../font/IBMPlexSansArabic-ExtraLight.woff') format('woff'),
        url('../font/IBMPlexSansArabic-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../font/IBMPlexSansArabic-Light.woff2') format('woff2'),
        url('../font/IBMPlexSansArabic-Light.woff') format('woff'),
        url('../font/IBMPlexSansArabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../font/IBMPlexSansArabic-Regular.woff2') format('woff2'),
        url('../font/IBMPlexSansArabic-Regular.woff') format('woff'),
        url('../font/IBMPlexSansArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../font/IBMPlexSansArabic-Medium.woff2') format('woff2'),
        url('../font/IBMPlexSansArabic-Medium.woff') format('woff'),
        url('../font/IBMPlexSansArabic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../font/IBMPlexSansArabic-Bold.woff2') format('woff2'),
        url('../font/IBMPlexSansArabic-Bold.woff') format('woff'),
        url('../font/IBMPlexSansArabic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansArabic';
    src: url('../font/IBMPlexSansArabic-SemiBold.woff2') format('woff2'),
        url('../font/IBMPlexSansArabic-SemiBold.woff') format('woff'),
        url('../font/IBMPlexSansArabic-SemiBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

